@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

pre.debug-pp {
	transition: all .5s ease-out;
	background: #b9e0f5;
	padding: 1em;
	margin: 1em 0;
	position: relative;
	border-radius: 4px;
	overflow-x: scroll;
	text-align: left;
	
	code {
		white-space: inherit;
	}
	
	&:target {
		height: auto !important;
		overflow-x: scroll !important;
		transition: all .5s ease-out;
	}
	
	&.admin {
		height: 2.5em;
		overflow: hidden;
	}
}